<div class="new_vacation_link">
  <a href='<%= new_vacation_path %>'><h5>Create a vacation</h5></a>
</div>

<section class"section_one">
  <div class="section_one_div row">
    <div class="chat_box col-md-6">
    <p>Message Center</p>
    <h1>Chat box</h1>
    </div>
    <div class="places_been_map col-md-6">
    Places I have been<%=image_tag "ylw-blank.png", alt: "Yellow push pin", :class => "yellow_push_pin" %> Places I am going<%=image_tag "grn-blank.png", alt: "Green push pin", :class => "green_push_pin" %> 
      <img src="<%= @places_been %>" alt="Static Google map of places been and going" />
    </div>
  </div>
</section>
<h4>Home city</h4>

<section class"section_two">
  <div class="section_two_div row">
    <div class="home_city col-md-6">
    <h1>home city image and map</h1>
    </div>
    <div class="weather_box col-md-6">
    
      <hr>
    </div>
  </div>
</section>

<h4>Saved Vacation</h4>

<section class"section_three">
  <div class="body_three row">
    <div class="chat_box col-md-3"><h1>Saved vacation</h1></div>
    <div class="places_been col-md-3"><h1>Saved vacation</h1></div>
    <div class="places_been col-md-3"><h1>Saved vacation</h1></div>
    <div class="places_been col-md-3"><h1>Saved vacation</h1></div>
  </div>
</section>


