
<section class"section_one">
  <div class="body_one row">
    <div class="chat_box col-md-6"><h1>Chat box</h1></div>
    <div class="places_been col-md-6"><h1>Places been map</h1></div>
  </div>
</section>
<div class="new_vacation_link">
  <a href='vacations/new'><h5>lets go on vacation</h5></a>
</div>
<h4>Home city</h4>

<section class"section_two">
  <div class="body_two row">
    <div class="chat_box col-md-6"><h1>home city image and map</h1></div>
    <div class="places_been col-md-6"><h1>Weather of home city</h1></div>
  </div>
</section>

<h4>Saved Vacation</h4>

<section class"section_three">
  <div class="body_three row">
    <div class="chat_box col-md-3"><h1>Saved vacation</h1></div>
    <div class="places_been col-md-3"><h1>Saved vacation</h1></div>
    <div class="places_been col-md-3"><h1>Saved vacation</h1></div>
    <div class="places_been col-md-3"><h1>Saved vacation</h1></div>
  </div>
</section>

