<div class="show_page_wrapper">

<section class="bing_search_container">
  <div class="row">
    <div class="col-lg-12">
      <iframe src="http://www.bing.com" frameborder="2"></iframe>
    </div>
  </div>
</section>


<div ng-app="app">
  <div ng-controller="vacationSpotCtrl" ng-init="fetchData(<%= @vacation.id %>)">

    <section class="vacation_section_two">
      <div class="save_spot row">
        <div class="save_spot col-md-6  ">
          <p class="user_input_text">Type the name or the address of the place you wish to visit:</p>
          <input type="text" id="user_input" placeholder="Type Name or Address">
          <hr>
          <div class="row">
            <div class="stats_weather col-sm-6">
              <div id="spot_table">
                <table class="current_stats">
                  <th class="table_header" colspan="2">Current stats:</th>
                  <tr class="table_row">
                    <td class="table_col_description">Local time:</td>
                    <td class="table_col"><%= @vacation.time_date %></td>
                  </tr>
                  <tr class="table_row">
                    <td class="table_col_description">Living Quarters:</td>
                    <td class="table_col"><%= @hotel.name %></td>
                  </tr>
                  <tr class="table_row">
                    <td class="table_col_description">Transpertation:</td>
                    <td class="table_col"><%= @vacation.transpertation %></td>
                  </tr>
                </table>
              </div><!--END OF TABLE  -->
            </div><!--END OF SPOT AND WEATHER  -->
            <div class="col-sm-6">
              weather goes here
            </div>
          </div><!--ROW  -->
        </div><!--END OF SAVE SPOT  -->

        
    <!-- THE FORM -->
        <div class="city_image col-md-6">
          
          <div class="row">
            <!-- <input type="text" ng-value="placeTitle" class="place_name" id="placeTitle"></input><br> -->
          <div class="place_data col-sm-8">
            <table id="vacation_spot" border="0">
              <tr>
                <td class="vacation_label">Rating:</td>
                <td class="wideField" colspan="2"><input class="place_rating" id="placeRate" disabled="true" ng-model="rating"></input></td>
              </tr>
              <tr>
                <td class="vacation_label">Open:</td>
                <td class="wideField" colspan="2"><input class="place_rating" id="placeOpen" disabled="true"></input></td>
              </tr>
              <tr>
                <td class="vacation_label">Phone:</td>
                <td class="wideField" colspan="2"><input class="place_phone" id="placePhone" ng-model="placePhone"></input></td>
              </tr>
              <tr>
                <td class="vacation_label">Price level:</td>
                <td class="wideField" colspan="2"><input class="place_price" id="placePrice" disabled="true"></input></td>
              </tr>
<!-- thing to do, if restaurant | bar set to menu, else website -->
              <tr>
                <td class="vacation_label">Website:</td>
                <td class="wideField" colspan="2"><input class="place_price" id="placeMenu" disabled="true"></input></td>
              </tr>
              <tr>
                <td class="vacation_label">Address:</td>
                <td class="number_wideField"><input class="number_field" id="street_number" disabled="true"></input></td>
                <td class="wideField"><input class="field" id="route" disabled="true"></input></td>
              </tr>
            
              <tr>
                <td class="vacation_label">City:</td>
                <td class="wideField" colspan="2"><input class="field" id="locality"
                      disabled="true"></input></td>
              </tr>
              <tr>
                <td class="vacation_label">State:</td>
                <td class="slimField" colspan="2"><input class="field"
                      id="administrative_area_level_1" disabled="true"></input></td>
              </tr>
              <tr>
                <td class="vacation_label">Zip code:</td>
                <td class="wideField" colspan="2"><input class="field" id="postal_code"
                      disabled="true"></input></td>
              </tr>
              <tr>
                <td class="vacation_label">Country:</td>
                <td class="wideField" colspan="2"><input class="field"
                      id="country" disabled="true"></input></td>
              </tr>
            </table>
            <input ng-model="placePhone" type="text">
            <input type="text" id="placeTitle" ng-model="placeTitle">
            below here
            <p>{{spotName}}</p>
            <button ng-click="test()">Test</button>

          </div><!-- END OF PLACE_DATA -->
          <div class="place_photos col-sm-4">
            <img src="" id="placePhoto" alt="">
          </div>
        </div><!-- END OF row for data and picture -->
          <div class="add_spot_button">
          <button ng-click="addNewSpot(newLat, newLng, newImage, placeTitle, newDescription, newRout, placePhone, newOpen, newReservation, newWebsite, newCity, newState, newZip, newStreetNumber)">Add spot</button>
          </div> 
        </div><!-- END OF city_image col-md-6 -->
      </div><!-- END OF save_spot row -->
    </section>

    <section class="vacation_section_three">
      <div class="outter_box_row row">
        <div class="col-sm-6">
          
          

          <div class="inner_box_row row">
            
             <div ng-repeat="vacation_spot in vacations.vacation_spots" class="spot_name col-xs-8 col-sm-6">
              <img src="{{vacation_spot.image}}" alt="Image of spot to be visited" class="spot_list_image"><span class="spot_list_name"><a href="/vacation_spots/{{vacation_spot.id}}">{{vacation_spot.spot_name}}</a></span>
             </div>
            
          </div>

          <!-- <div>
          <table>
            <tr ng-repeat="spot in spots">
            <div class="spot_name col-xs-8 col-sm-6">
              <td class="col"><img src="{{spot.image}}" alt="Picture of the spot"></td>
              <td class="col">{{spot.spot_name}}</td>
            </tr>
          </table>
          </div>
 -->

        </div>
          <div class="second_box col-sm-6">
            <div class="current_stats col-md-3">
              <p>points of interest will go here once it works</p>
            </div>
          </div>
      </div>
    </section>

  </div><!-- END OF NG-CONTROLLER -->
</div><!-- END OF NG-APP-->
<!-- <section class="vacation_section_four">
  <div class="save_spot row">
    <div class="save_spot col-md-3">
      <h1>FIRST BOX</h1>
    </div>

    <div class="logo col-md-3"><h1>SECOND BOX</h1></div>
    <div class="xxx col-md-3"><h1>THIRD BOX</h1></div>
    
</section> -->

</div><!-- End of page wrapper -->

<script>
 
  var vacationBounds = new google.maps.LatLngBounds(
    new google.maps.LatLng(39.8055204953369,-75.88245927974606),
    new google.maps.LatLng(38.00887950466311,-78.19134072025393)
    );

  var input = document.getElementById('user_input');
  var options = {
    bounds: vacationBounds
  };

  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  autocomplete = new google.maps.places.Autocomplete(input, options);
  
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      fillInAddress();
    });

  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();
console.log(place);
    // Display misc items on in view (i need to change this bc of XSS)
    var name = place.name;
    var rate = place.rating;
    var phone = place.international_phone_number;
    var price = place.price_level;
    var website = place.website;
    var picture = place.photos[0].getUrl({ 'maxWidth': 250, 'maxHeight': 250 });
    var reviews = place.review
    
    document.getElementById('placeTitle').value = name;
    document.getElementById('placeRate').value = rate;
    if (place.opening_hours === undefined) {
      document.getElementById('placeOpen').value = ''; 
    } else if (place.opening_hours.open) {
      document.getElementById('placeOpen').value = 'We are open!';
    } else {
      document.getElementById('placeOpen').value = 'Sorry, we are closed'; 
    }
    document.getElementById('placePhone').value = phone;
    document.getElementById('placePrice').value = price;
    document.getElementById('placeMenu').value = website;
    document.getElementById('placePhoto').src = picture;

    
    


    for (var component in componentForm) {
      document.getElementById(component).value = '';
      document.getElementById(component).disabled = false;
    }
    
    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        document.getElementById(addressType).value = val;
      }
    }

  }
 
</script>