<h2>VACATION SPOT TITLE</h2>
<div class="vacation_spot_wrapper">

  <div class="map row">
    <div class="col-md-12">MAP</div>
  </div>


  <div class="vacation_vitals row">
    <div class="directions col-md-6">DIRECTIONS</div>
    <div class="about col-md-6">THINGS ABOUT THE SPOT</div>
  </div>

  <div class="note row">
    <div class="col-md-12">USER NOTES ON THE SPOT</div>
  </div>

</div>