.message_replies {
  border: none;
  padding-left: 30px;
} 

.reply_from {
  color: #ff972c;
  padding: 0;
  line-height: .3em; 
}

.reply_date {
  font-size: .8em;
  color: #ff972c;
  padding: 0;
  line-height: .3em;
}

.reply_hr {
  
  color: #ff972c;
  margin-bottom: 10px;
}
