.message_replies {
  border: none;
  
} 

.reply_from {
  color: #ff972c;
  padding: 0;
  line-height: .3em; 
}

.reply_date {
  font-size: .8em;
  color: #ff972c;
  padding: 0;
  line-height: .3em;
}

.reply_hr {
  
  color: #ff972c;
  margin-bottom: 10px;
}

.reply_button {
  border: none;
  background-color: none;
}

.post_box {
  text-align: left;
}

.reply_count {
  text-align: right;
  float: right;
}
