/************************************
  SHOW PAGE FOR THE VACATION
************************************/
.iframe_row {
  margin-left: -10px;
  margin-right: 0;
}
.show_page_wrapper {
  // border: 1px solid blue;
}

.outter_box_row {
  border: none;
  margin-right: -15px;
  margin-left: -18px;
  text-align: center;
}

.inner_box_row {
  border-radius: 5px;
  // background-color: #f2f2f2;
  margin-left: 1px;
  margin-bottom: 20px;
}

// .second_box {
//   border: none;
// }

.bing_search_container {
  margin: 15px 0 5px 0;
}

iframe {
  width: 100%;
  height: 450px;
  margin: 10px;
  padding: 10px;
  border: none;
}

.search_text {
  font-size: 1.8em;
  font-weight: 200;
  margin-left: 10px;
}

.vacation_date {
  font-size: 1.6em;
  font-weight: 200;
  margin-left: 15px;
}

.bing_search_text {
  font-size: 1.4em;
  font-weight: 200;
  float: right;
}

.bing {
  transform: rotate(-5deg);
}

.vacation_section_two {
  
}

.save_spot {
  border: none;
}

.logo {
  border: 1px solid black;
}



.vacation_section_three {
  // border: 1px solid black;
}

.current_stats {
  border: none;
  padding: 0;
  // padding-left: 1px;
  // padding-right: 0;
  // width: 320px;
}

.text_box {
  text-align: left;
}


.table_header {
  border-bottom: 1px solid #000000;

}

.table_row {
  border: none;
  padding-left: 13px;
}

#spot_table {
  border-right: none;
  padding-left: 5px;
}

input#placeTitle {
  // border: 0;
  width: 100%;
}

.table_header {
  font-size: 1.5em;
  padding: 5px;
}

.table_col_description {
  font-size: 1.2em;
  font-weight: 500;
  padding: 3px;
}

.vacation_table_col {
  font-size: 1.2em;
  font-weight: 200;
  padding: 3px;
  width: 65%;
}

.vacation_table_col_address {
  font-size: 1.2em;
  font-weight: 200;
  padding: 0;
  width: 65%;
}

.vacation_table_col_city {
  font-size: 1.2em;
  font-weight: 200;
  padding: 0;
  width: 65%;
}

.place_data {
  border-left: 1px solid black;
  display: inline-block;
}

.place_name {
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px 5px 5px 20px;
  text-decoration: underline;
}

.place_price {
  width: 100%;
}

.wideField {
  font-size: 1.2em;
  border: 0;
  width: 79%;
  vertical-align: bottom;
}

.number_wideField {
  width: 10px;
}

.hours_open {
  color: red;
  width: 105%;
  padding: 0 0 3px 5px;
}

.number_field {
  width: 100%;
  text-align: center;
}

.user_input_text {
  font-size: 1.2em;
  margin-left: 10px;
  font-weight: 200;
  margin-bottom: 0;
}

#user_input {
  width: 600px;
  margin-left: 10px;
}

#vacation_spot {
  width: 400px;
}

.vacation_spot_photo {
  width: 180px;
  height: 180px;
  border: 0;
  margin-left: 80px;
}

.vacation_label {
  font-size: 1.2em;
  font-weight: 500;
  padding: 3px;
  vertical-align: top;
}


.place_rating {
  font-size: 1.3em;
  font-weight: 200;
}

.field {
  border: 1px;
  background-color: #ffffff;
}

.spot_note {
  width: 200px;
  height: 100px;
}

// PHOTOS

.place_photos {
  border: none;
  display: inline-block;
  text-align: center;
}

#placeRate {
  border: 0;
}

#placeOpen {
  border: 0;
}

#placePhone {
  // border: 0;
}

#placePrice {
  border: 0;
}

#placeMenu {
  border: 0;
}

#street_number {
  border: 0;
}

.add_spot_button {
  display: block;
  border: none;
  text-align: right;
  padding-right: 15px;
  padding-top: 6px;
}

// **************************
// list of saved spots
// **************************

.outter_box_row {
  margin-bottom: 25px;
  
}

.spot_name {
  border: 1px solid #666;
  height: 190px;
  margin: 4px;
  width: 23%;
  text-align: center;
}

.spot_list_name {
  padding-top: 10px;
  border-top: 1px solid #666;
  padding-bottom: 10px;
  
}

.spot_list_image {
  width: 90px;
  height: 90px;
  margin-top: 15px;
  padding-bottom: 10px;
}

// this is where the vacation stuff lives

.vacation_stuff {
  margin: 10px 0 10px 0;
  width: 625px;
  border: none;
}

#map-canvas-vacation {
  height: 215px;
  width: 250px;
  margin-bottom: 10px;
}

.vacation_spot_text {
  font-size: 1.3em;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.vacation_spot_line {
  margin: 0 0 0 0;
  padding: 0;
  width: 47%;
}

// weather
.spot_temp {
  text-align: center;
  font-size: 4em;
  font-weight: 400;
}

.spot_summary {
  
}

.spot_summary_text {
  float: right;
  margin-top: 20px;
}

.spot_high_low {
  text-align: center;
}

.spot_weather_table {
  width: 140px;
  margin-left: 38px;
}
.spot_cloud_div {
  display: inline-block;
}
.spot_summary_div {
  display: inline-block;
  height: 100%;
}

