/************************************
  SHOW PAGE FOR THE VACATION
************************************/

.show_page_wrapper {
  border: 1px solid blue;
}

.outter_box_row {
  border: 1px solid green;
}

.inner_box_row {
  border: 1px solid red;
}

.second_box {
  border: 1px solid red;
}

.bing_search_container {
  
}

iframe {
  width: 100%;
  height: 450px;
  margin: 10px;
  padding: 10px;
  border: 1px solid blue;
}

.vacation_section_two {
  
}

.save_spot {
  border: none;
}

.logo {
  border: 1px solid black;
}

.current_stats {
  border: 1px solid black;
}

.vacation_section_three {
  // border: 1px solid black;
}

.current_stats {
  border: none;
  padding-left: 1px;
  padding-right: 0;
  width: 250px;
}


.table_header {
  border-bottom: 1px solid #000000;

}

.table_row {
  border: none;
  padding-left: 13px;
}

.table_col_description {
  padding-left: 5px;
  border: none;
}


#spot_table {
  border-right: 1px solid red;
  padding-left: 5px;
}

input#placeTitle {
  border: 0;
  width: 100%;
}

.table_header {
  font-size: 1.5em;
  padding: 5px;
}

.table_col_description {
  font-size: 1.3em;
  font-weight: 500;
  padding: 3px;
}

.table_col {
  font-size: 1.3em;
  font-weight: 200;
  padding: 3px;
}
.place_data {
  border-left: 1px solid black;
  display: inline-block;
}
.place_name {
  font-weight: bold;
  font-size: 1.5em;
}

.place_price {
  width: 100%;
}

.wideField {
  border: 0;
  width: 200px;
}

.number_wideField {
  width: 30px;
  text-align: right;
}

.number_field {
  width: 100%;
  text-align: center;
}

.user_input_text {
  margin-left: 10px;
  font-weight: 200;
}

#user_input {
  width: 600px;
  margin-left: 10px;
}

#vacation_spot {
  width: 400px;
}

.vacation_label {
  font-size: 1.3em;
  font-weight: 500;
  padding: 3px;
  width: 50px;
}


.place_rating {
  font-size: 1.3em;
  font-weight: 200;
  
}

.field {
  border: 1px;
  background-color: #ffffff;
}

// PHOTOS

.place_photos {
  border: none;
  display: inline-block;
  text-align: center;
}

#placeRate {
  border: 0;
}

#placeOpen {
  border: 0;
}

#placePhone {
  border: 0;
}

#placePrice {
  border: 0;
}

#placeMenu {
  border: 0;
}

#street_number {
  border: 0;
}


