/************************************
  SHOW PAGE FOR THE VACATION
************************************/

.show_page_wrapper {
  border: 1px solid blue;
}

.outter_box_row {
  border: none;
}

.inner_box_row {
  border-radius: 5px;
  background-color: #eaede9;
  margin-left: 1px;
}

.second_box {
  border: none;
}

.bing_search_container {
  
}

iframe {
  width: 100%;
  height: 450px;
  margin: 10px;
  padding: 10px;
  border: 1px solid blue;
}

.vacation_section_two {
  
}

.save_spot {
  border: none;
}

.logo {
  border: 1px solid black;
}

.current_stats {
  border: 1px solid black;
}

.vacation_section_three {
  // border: 1px solid black;
}

.current_stats {
  border: none;
  padding-left: 1px;
  padding-right: 0;
  width: 250px;
}


.table_header {
  border-bottom: 1px solid #000000;

}

.table_row {
  border: none;
  padding-left: 13px;
}

.table_col_description {
  padding-left: 5px;
  border: none;
}


#spot_table {
  border-right: none;
  padding-left: 5px;
}

input#placeTitle {
  // border: 0;
  width: 100%;
}

.table_header {
  font-size: 1.5em;
  padding: 5px;
}

.table_col_description {
  font-size: 1.3em;
  font-weight: 500;
  padding: 3px;
}

.vacation_table_col {
  font-size: 1.3em;
  font-weight: 200;
  padding: 3px;
  width: 50%;
}

.place_data {
  border-left: 1px solid black;
  display: inline-block;
}

.place_name {
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px 5px 5px 20px;
  text-decoration: underline;
}

.place_price {
  width: 100%;
}

.wideField {
  font-size: 1.2em;
  border: 0;
  width: 79%;
  vertical-align: bottom;
}

.number_wideField {
  width: 10px;
}

.hours_open {
  color: red;
  width: 105%;
  padding: 0 0 3px 5px;
}

.number_field {
  width: 100%;
  text-align: center;
}

.user_input_text {
  margin-left: 10px;
  font-weight: 200;
}

#user_input {
  width: 600px;
  margin-left: 10px;
}

#vacation_spot {
  width: 400px;
}

.vacation_spot_photo {
  width: 180px;
  height: 180px;
  border: 0;
  margin-left: 80px;
}

.vacation_label {
  font-size: 1.2em;
  font-weight: 500;
  padding: 3px;
  vertical-align: top;
}


.place_rating {
  font-size: 1.3em;
  font-weight: 200;
}

.field {
  border: 1px;
  background-color: #ffffff;
}

.spot_note {
  width: 200px;
  height: 100px;
}

// PHOTOS

.place_photos {
  border: none;
  display: inline-block;
  text-align: center;
}

#placeRate {
  border: 0;
}

#placeOpen {
  border: 0;
}

#placePhone {
  // border: 0;
}

#placePrice {
  border: 0;
}

#placeMenu {
  border: 0;
}

#street_number {
  border: 0;
}

.add_spot_button {
  display: block;
  border: none;
  text-align: right;
  padding-right: 15px;
  padding-top: 6px;
}

// **************************
// list of saved spots
// **************************

.spot_name {
  border: none;
}

.spot_list_name {
  padding-left: 5px;
}

.spot_list_image {
  width: 80px;
  height: 80px;
  margin-top: 5px;
}


