.sign_up_wrapper {
  height: 800px;
  margin-top: -20px;
  background-image: url("travel4.png");
  padding-top: 110px;
  padding-left: 70%;
}

.sign_in_wrapper {
  height: 800px;
  margin-top: -20px;
  background-image: url("sign_up.jpg");
  padding-top: 110px;
  padding-left: 8%;
}

.new_user_div {
  padding: 30px;
  width: 300px;
  color: #849696;
  background-color: #17384c;
  opacity: 0.8;
}