// This applies to all layouts
body {
  background-color: #ffffff;
}

.container {
  background-color: #f7daa7;
  width: 95%;
}

header {
  border: 1px solid #000000;
  background-color: #ffffff;
}

.header_one {
  margin: 0 5px 5px 5px;
  border: 1px solid #000000;
  background-color: tan;
}

.header_two {
  margin: 0 5px 5px 5px;
  border: 1px solid #000000;
  background-color: tan;
}

.gravatar_image {
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
}