// This applies to all layouts
body {
  background-color: #ffffff;
}

.no_profile {
  color: #FF972C; 
}

hr {
  border: 0;
  color: #849696;
  background-color: #849696;
  height: 1px;
  width: 100%;
  text-align: left;
}


// The blocks below are cool but I don't think will work for this app
// hr {
//   height: 30px;
//   border-style: solid;
//   border-color: black;
//   border-width: 1px 0 0 0;
//   border-radius: 20px;
// }

// hr:before {
//   display: block;
//   content: "";
//   height: 30px;
//   margin-top: -31px;
//   border-style: solid;
//   border-color: black;
//   border-width: 0 0 1px 0;
//   border-radius: 20px;
// }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



header {
  z-index: 100;
  width:100%;
  position:fixed;
  top:0px;
  background-color: #ffffff;
}

.header_one {
  padding-left: 1%;
  padding-right: 1%;
  border: none;
  background-color: #232d33;
}

.main_nav_bar {

}

.col-md-4 {
  padding-left: 5px;
  margin: 0;
}

.first_menu {
  border: none;
  text-align: left;
  padding-top: 17px;
  height: 52px;
}

.header_one ul li {
  display: inline-block;
}

.main_logo p {
  text-align: center;
  font-size: 2em;
  color: #FF972C;
  line-height: 1em;
  margin-top: 10px;
}

.profile {
  text-align: right;
  padding: 5px;
}

.gravatar_image_div {

}

.gravatar_image {
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
}

.header_two {
  padding-left: 1%;
  padding-right: 1%;
  border: 1px solid #000000;
  background-color: #ffffff;
}

.saved_vations {
  padding-left: 15px;
}

.app_alerts {
  text-align: center
}

.places_been_div {
  text-align: center;
  margin-top: 5px;
}

.points_of_interest {
  text-align: right;
  padding-right: 20px;
}

.container {
  margin-top: 100px;
  background-color: #f7daa7;
  width: 95%;
}
