// Place all the styles related to the vacations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// this needs to move
#map-canvas-home {
  height: 250px;
  width: 250px;
}


// ********  ***********

section {
  border: none;
  margin: 0 15px 5px 15px;
}

.new_vacation_link {
  text-align: center;
  font-weight: 900;
  font-size: 1.8em;
  padding: 15px;
}

.new_vacation_link a {
  color: #232d33;
}

.new_vacation_link a:hover {
  color: #ff972c;
}

.lounge_title {
  font-size: 1.8em;
  border-bottom: 1px solid #849696;
  padding-bottom: 2px;
  padding-top: 5px;
}


.body_one {
  border: none;
  height: 450px;
}

.chat_box {
  float: left;
  border: 1px solid #000000;
  background-color: #c9b89c;
}

.btn {
  background-color: red;
}

.places_been {
  border: 1px solid #849696;
  background-color: #fefffb;
  height: 100%;
  float: right;
  // margin-left: 140px;
}

.places_been img {
  padding-bottom: 10px;
}

.places_been_form {
  padding: 0 0 8px 0;
  text-align: center;
}

// look in my google_maps branch and see how big I made the box, it seems that it just fit the box provided
#map-canvas {
  border: 1px solid black;
}

.been_address {
  width: 150px;
}

#address {
  width: 200px;
  border: 1px solid #000090;
}

#description {
  width: 150px;
  border: 1px solid #000090;
}

.been_title {
  width: 150px;
  border: 1px solid #000090;
}


/************************************
vacations make up page
************************************/

.accomondations {
  border: 1px solid #000000;
  background-color: #fbeed6;
  padding: 15px;
}

.vacation_name {
  border: 1px solid #000000;
  background-color: #fbeed6;
  padding: 15px;
}

.arive_by {
  border: 1px solid #000000;
  background-color: #fbeed6;
  padding: 15px;
}

.weather_iframe {
  border: none;
  height: 235px;
}

/************************************
message box
************************************/

.message_center_box {
  border: 2px solid #849696;
  background-color: #fefffb;
  width: 520px;
  height: 100%;
  overflow: scroll;
  margin-left: 60px;
}

.message_box {
  border: 1px solid red;
  width: 350px;
  height: 80px;
}

.message_center_table {
  margin-bottom: 5px;
}

.message_table_row {
  
}

.message_talbe_col {
  width: 398px;
  text-align: left;
  padding-left: 24px;
}

p.message_user_name {
  font-size: .8em;
  font-weight: 900;
  padding: 5px 0 0 0;
  line-height: 3px;
}

p.message_date {
  font-size: .8em;
  font-weight: 900;
  padding: 0;
  line-height: 3px;
}

.message_title {
  color: #FF972C;
  font-size: 1.2em;
  font-weight: 900;
  border-bottom: 1px solid #849696;
}

.message_message {
  color: #FEFFFB;
}

.message_post_message {
  color: #232d33;
}

.message_reply {
  color: #FEFFFB;
  text-align: left;
  padding-left: 15px;
}

.message_reply_button {
  color: #FF972C; 
}

.home_city_title {
  border-bottom: 1px solid black;
}

.section_three {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

