// Place all the styles related to the vacation_spot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vacation_spot_wrapper {
  border: none;
  margin-bottom: 25px;
  margin-top: 20px;
}

.spot_spot {

}

.page_title {
  border: none;
  display: block;
}

.spot_title {
  border: none;
  font-size: 3em;
  font-weight: 900;
  display: inline-block;
}

.map {
  border-left: 1px solid #000000;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
}

.vacation_vitals {
  border: none;
  margin: 5px;
}

.vacation_spot_image {
  padding: 5px 0 5px 10px;
}

.description_text {
  font-weight: bold;
  padding: 5px 0 5px 10px;
}

.vacation_spot_description {
  padding-left: 20px;
}

.spot_table {

}

.table_col {
  font-size: 1.2em;
  width: 100%;
  padding: 5px 0 5px 10px;
}

.table_col_des {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 10px;
}

.directions {
  margin-top: 10px;
}

.about {
  border: none;
}

.about h4 {
  font-size: 1.7em;
  padding-left: 10px;
}

.about_two {
  margin: 3px;
  border-left: 1px solid #000000;
}

.note {
  margin-top: 20px;
 text-align: center;
}

.note p {

}

.vacation_notes {
  // word-wrap: none;
  // width: 450px;
  // height: 150px;
}

// *********************
// the spot itself
// *********************

#map-canvas-directions {
  width: 435px;
  height: 450px;
}

.pdf_button {
  text-align: right;
}

.notes_box {
  text-align: center;
}

.directions_top_line {
  width: 99%;
}

.make_notes_text {
  padding: 5px 0 5px 10px;
}

