// Place all the styles related to the vacation_spot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vacation_spot_wrapper {
  border: 1px solid pink;
}

.map {
  border: 1px solid red;
  margin-left: 0;
  margin-right: 0;
}

.vacation_vitals {
  border: 1px solid red;
  margin-left: 0;
  margin-right: 0;
}

.description_text {
  font-weight: bold;
}

.table_col_des {
  font-weight: bold;
}

.directions {
  border: 1px solid blue;
}

.about {
  border: 1px solid blue;
}

.note {
 border: 1px solid red;
 margin-left: 0;
 margin-right: 0; 
}

.some-class {
  width: 450px;
  height: 150px;
}
