// Place all the styles related to the vacations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// this needs to move
#map-canvas-home {
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
}

// ********  ***********

.shoadows {
  -webkit-box-shadow: 4px 4px 18px 0px rgba(50, 50, 50, 0.33);
  -moz-box-shadow:    4px 4px 18px 0px rgba(50, 50, 50, 0.33);
  box-shadow:         4px 4px 18px 0px rgba(50, 50, 50, 0.33);
  // -webkit-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.48);
  // -moz-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.48);
  // box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.48);
  // -webkit-box-shadow: 0 8px 6px -6px black;
  // -moz-box-shadow: 0 8px 6px -6px black;
  // box-shadow: 0 8px 6px -6px black;
}

// section {
//   border: none;
//   margin: 0 15px 5px 15px;
// }

.new_vacation_link {
  border: none;
  width: 575px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.home_city_title {
  font-size: 1.4em;
  font-weight: 900;
  display: inline-block;
}

.destination_button {
  display: inline-block;
  float: right;
}

.new_vacation_link a {
  color: #232d33;
}

.new_vacation_link a:hover {
  color: red;
}

.lounge_title {
  font-size: 1.8em;
  border-bottom: 1px solid #849696;
  padding-bottom: 2px;
  padding-top: 5px;
}


.body_one {
  margin: 15px 0 30px 0;
}

.body_two {
  margin: 15px 0 5px 0;
}

.section_one {
  border: none;
  padding-top: 5px;
  padding-bottom: 20px;
}

.points_of_interest_box {
  // border-radius: 10px;
  // border: 1px solid #849696;
  // background-color: #EDEFF1;
  // height: 100%;
  
}

.chat_box {
  float: left;
  border: 1px solid #000000;
  background-color: #c9b89c;
}

.btn {
  background-color: red;
}

.places_been {
  border: none;
  background-color: #ffffff;
}

.places_been img {
  padding-bottom: 10px;
}

.places_been_form {
  padding: 0 0 8px 0;
  text-align: center;
}

// look in my google_maps branch and see how big I made the box, it seems that it just fit the box provided
#map-canvas {
  // border: 1px solid black;
}

.been_address {
  width: 150px;
}

#address {
  width: 240px;
  border: 1px solid #000090;
}

#city {
  width: 240px;
  border: 1px solid #000090;
  background-color: #f0f0ff;
}

#state {
  width: 240px;
  border: 1px solid #000090;
  background-color: #f0f0ff;
}

#description {
  border: 1px solid #000090;
}

.been_title {
  width: 180px;
  border: 1px solid #000090;
}

.place_description_box {
  text-align: center;
}


/************************************
vacations make up page
************************************/

.accomondations {
  border: none;
  padding: 15px;
}

.vacation_name {
  border: none;
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
}

.arive_by {
  border: 1px solid #000000;
  background-color: #fbeed6;
  padding: 15px;
}

.weather_iframe {
  border: none;
  height: 235px;
}

.home {
  // border-radius: 10px;
  background-color: #ffffff;
  // width: 49.5%;
  // padding-bottom: 20px;
  // margin-bottom: 30px;
  // height: 100%;

  // border-radius: 10px;
  // background-color: #EDEFF1;
  // 
  // width: 49.5%;
  // 
}

.section_two {
  border-bottom: 1px solid #849696;
  padding-top: 5px;
  padding-bottom: 20px;
}

#weather_div {
  border-top: 1px solid #000000;
  width: 95%;
  margin: 0 0 10px 25px;
}

/************************************
message box
************************************/
.vacation_lounge {
  border: none;
  background-color: #fffff;
}

.vacation_lounge_title {
  text-align: left;
  // border-bottom: 1px solid #849696;
}

.ask_question {
  text-align: left;
  font-size: 1.2em;
  font-weight: 200;
}

.message_center_box {
  // border: 2px solid #849696;
  // background-color: #fefffb;
  // width: 520px;
  height: 200px;
  // text-align: center;
}

.message_box {
  // border: 1px solid #849696;
  width: 550px;
  height: 300px;
  overflow: scroll;
  margin-bottom: 10px;
  margin-top: 15px;
  // padding-left: 45px;
  // margin: auto;
  // background-color: #EDEFF1;
  margin: auto;
}

.message_center_table {
  margin-bottom: 15px;
  margin-top: 15px;
  margin: auto;
}

.message_table_col {
  
}

.message_talbe_col {
  width: 398px;
  text-align: left;
  padding-left: 24px;
}

p.message_user_name {
  font-size: .8em;
  font-weight: 900;
  padding: 5px 0 0 0;
  line-height: 3px;
}

p.message_date {
  font-size: .8em;
  font-weight: 900;
  padding: 0;
  line-height: 3px;
}

.message_title {
  color: #000000;
  font-size: 1.2em;
  font-weight: 900;
  padding-bottom: 5px;
  border-bottom: 1px solid #849696;
}

.message_message {
  color: #000000;
}

.message_post_message {
  color: #232d33;
}

.message_reply {
  color: #000000;
  text-align: left;
  padding-left: 15px;
}

.message_reply_button {
  color: #000000; 
}

/************************************
WEATHER FEATURE
************************************/
.weather_table {
  
}

.current_temp {
  border-right: 1px solid #849696;
  font-size: 4em;
  font-weight: 900;
  display: -webkit-box;
  display: -webkit-inline-box;
  padding-left: 10px;
}

.skycon_icon {
  padding: 5px 20px 10px 10px;
  vertical-align: middle;
}

.current_summary {
  font-size: 1.2em;
  text-align: center;
}

.week_day {
  font-size: 1.2em;
  padding: 0 4px 0 4px;
  text-align: center;
}

.current_change_precip {
  text-align: center;
}

.data_provided_by {
  margin-bottom: 20px;
  color: #849696;
}

// pictures
.panoramio-wapi-tos {
  background-color: red;
}

// date block
.date {
  background-color: #987;
  float: right;
  position: relative;
  padding: 45px 5px 0px;
  margin: 40px 100px 0 0;
}

.day {
  font-size: 45px;
  position: absolute;
  left: 5px;
  top: 0;
}

.month {
  text-transform: uppercase;
  font-size: 25px;
}

.year {
  display: block;
  position: absolute;
  right: -5px;
  top: 15px;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
}

// Map
.the_map {
  border: 1px solid #666;
  text-align: center;
  padding-bottom: 10px;
}

#map {
  text-align: center;
  margin: auto;
}

.map_text_box {
  border: 1px solid #666;
  margin-top: 5px;
  padding: 5px;
}



