// Place all the styles related to the vacations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section {
  border: none;
  margin: 0 15px 5px 15px;
}

.chat_box {
  float: left;
  border: 1px solid #000000;
  background-color: #c9b89c;
}

.places_been {
  border: 1px solid #000000;
  background-color: #c9b89c;
}
// look in my google_maps branch and see how big I made the box, it seems that it just fit the box provided
#map-canvas {
  border: 1px solid black;
  width: 100%;
  height: 300px;
}


/************************************
vacations make up page
************************************/

.accomondations {
  border: 1px solid #000000;
  background-color: #fbeed6;
  padding: 15px;
}

.vacation_name {
  border: 1px solid #000000;
  background-color: #fbeed6;
  padding: 15px;
}

.arive_by {
  border: 1px solid #000000;
  background-color: #fbeed6;
  padding: 15px;
}

.weather_iframe {
  border: none;
  width: 100%;
  height: 235px;
}